.home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.home_body {
  min-height: 400px;
  width: 1080px;
  margin: 0 auto;
  flex: 1;
}

.home .home_logo_container {
  padding-top: 80px;
  padding-bottom: 40px;
}

.home .home_logo {
  display: block;
  margin: 0 auto;
  height: 200px;
}

.home .search_name_container {
  display: flex;
  justify-content: center;
}

.home .summoner_name_input {
  width: 400px;
  height: 34px;
  padding: 0px 10px 0px 10px;
  border-radius: 8px;
  border: none;
  font-size: 20px;
}

.home .search_name_button {
  height: 36px;
  width: 50px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: rgb(105, 105, 105);
  cursor: pointer;
  margin-left: 5px;
}