.calendar_container {
  background-color: #202020;
  border-radius: 10px;
  padding: 10px;
}

.calendar_header {
  width: 200px;
  margin: 0 auto;
  text-align: center;
}

.calendar_year_text {
  font-size: 20px;
  font-weight: bold;
}

.calendar_month_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}

.calendar_month_text {
  font-size: 28px;
  font-weight: bold;
  width: 60px;
}

.calendar_table {
  width: 100%;
  margin-top: 20px;
}

tbody:before {
  content:"@";
  display:block;
  line-height:10px;
  text-indent:-99999px;
}