.calendar_container {
  background-color: #202020;
  border-radius: 10px;
}

.calendar_table {
  width: 100%;
  padding: 10px;
}

tbody:before {
  content:"@";
  display:block;
  line-height:10px;
  text-indent:-99999px;
}